extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam eaque architecto, reprehenderit nobis temporibus perspiciatis commodi et sunt ea voluptatem aut suscipit culpa delectus placeat quas nihil unde nisi atque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates at doloremque sunt ullam minima aperiam aliquid impedit alias ipsum! Minus voluptas eaque animi, sit aut alias itaque aperiam culpa quam!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido  
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales