extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" , alt="" , class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fringilla neque. Morbi nec velit nec libero volutpat efficitur in at quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis non libero a lobortis. Quisque quis dapibus ex. Quisque nec massa a sem semper efficitur aliquet nec felis. 

                p Duis posuere vel nunc ac porta. Maecenas pretium lectus non diam semper tristique. Nam malesuada lorem a nulla interdum congue. Suspendisse rutrum arcu in purus volutpat aliquet.

                p Nullam vitae consequat felis, sit amet pulvinar turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eu massa porta, elementum velit iaculis, molestie justo. Fusce luctus rutrum elit ultrices semper. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione dolores beatae quidem, perspiciatis explicabo, maiores neque numquam, deserunt voluptatem architecto.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione dolores beatae quidem, perspiciatis explicabo, maiores neque numquam, deserunt voluptatem architecto.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione dolores beatae quidem, perspiciatis explicabo, maiores neque numquam, deserunt voluptatem architecto.